#test-box{
    position: absolute;
    width: 300px;
    height: 225px;
    background-color: red;
}

#affdex_elements {
    display: none;
    position: absolute;
    right: 20px;
    bottom: 0;
    
    border-top: 4px outset #252525;
    border-left: 4px outset #252525;
    border-right: 4px outset #252525;
}

#face_video_canvas{
    width: 300px;
    height: 225px;
}

#yb-player-root{
    pointer-events: none;
    position: fixed;
    width: 100%;
    height: 100%;
}

#yb-player {
    
    position: absolute;
    display: block;
    visibility: hidden;
    margin: auto;
    top: 0;
    bottom: 2.3vh;
    left: 0;
    right: 0;

    transform: translateX(11.8vw);
}