
.wrap { 
  white-space: pre-wrap;      /* CSS3 */   
  white-space: -moz-pre-wrap; /* Firefox */    
  white-space: -pre-wrap;     /* Opera <7 */   
  white-space: -o-pre-wrap;   /* Opera 7 */    
  word-wrap: break-word;      /* IE */
}

.gap{
  height: 16px;
}

#overlay {
  /* display to none by default because the overlay
   could block the scroll event sent to the phaser canvas*/
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

#overlay-with-scroll {  
  pointer-events: none;  

  position: fixed;    
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  /* overflow-y: scroll; */
  overflow-y: auto;
  overflow-x: hidden;
}

#review-form {
  position: absolute;
  right: auto;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
}

.box-title {
  color: #7f7f7f;
  display: inline-block;
  font: 14px/1 sans-serif;
  text-decoration: none;
  top: 5px;
  transition: color 0.8s;
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, -50%);
  background: #eceeee;
  border: 1px solid #42464b;
  border-radius: 6px;
  width: 240px;
  padding: 25px 29px 30px 29px;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.login h1 {
  background-image: linear-gradient(top, #f1f3f3, #d4dae0);
  border-bottom: 1px solid #a6abaf;
  border-radius: 6px 6px 0 0;
  box-sizing: border-box;
  color: #727678;
  display: block;
  height: 43px;
  font: 600 14px/1 'Open Sans', sans-serif;
  padding-top: 14px;
  margin: 0;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 #fff;
}

input[type="password"], input[type="text"] {
  background: linear-gradient(top, #d6d7d7, #dee0e0);
  border: 1px solid #a1a3a3;
  border-radius: 4px;
  box-shadow: 0 1px #fff;
  box-sizing: border-box;
  color: #696969;
  height: 39px;
  margin: 4px 0 15px 0;
  padding-left: 18px;
  transition: box-shadow 0.3s;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

textarea {
  background: linear-gradient(top, #d6d7d7, #dee0e0);
  border: 1px solid #a1a3a3;
  border-radius: 4px;
  box-shadow: 0 1px #fff;
  box-sizing: border-box;
  color: #696969;
  height: 39px;
  margin: 4px 0 15px 0;
  padding: 10px 18px 10px 17px;
  transition: box-shadow 0.3s;
  width: 100%;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

input[type="password"]:focus, input[type="text"]:focus {
  box-shadow: 0 0 4px 1px rgba(55, 166, 155, 0.3);
  outline: 0;
}

.show-password {
  display: block;
  height: 16px;
  margin: 26px 0 0 28px;
  width: 87px;
}

input[type="checkbox"] {
  cursor: pointer;
  height: 16px;
  opacity: 0;
  position: relative;
  width: 64px;
}

input[type="checkbox"]:checked {
  left: 29px;
  width: 58px;
}

.toggle {
  display: block;
  height: 16px;
  margin-top: -20px;
  width: 87px;
  z-index: -1;
}

input[type="checkbox"]:checked+.toggle {
  background-position: 0 -16px
}

.forgot {
  color: #7f7f7f;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  float: right;
  font: 12px/1 sans-serif;
  left: -19px;
  position: relative;
  text-decoration: none;
  top: 5px;
  transition: color .4s;
}

.forgot:hover {
  color: #3b3b3b
}

input[type="submit"] {
  width: 240px;
  height: 35px;
  display: block;
  font-family: Arial, "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 1px 0px #37a69b;
  padding-top: 6px;
  margin-top: 6px;
  position: relative;
  cursor: pointer;
  border: none;
  background-color: #37a69b;
  background-image: linear-gradient(top, #3db0a6, #3111);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #497a78, 0px 10px 5px #999;
}

.shadow {
  background: #000;
  border-radius: 12px 12px 4px 4px;
  box-shadow: 0 0 20px 10px #000;
  height: 12px;
  margin: 30px auto;
  opacity: 0.2;
  width: 270px;
}

input[type="submit"]:active {
  top: 3px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #31524d, 0px 5px 3px #999;
}

#form-rating {
  transform: translate(-50%, 50%);
}

#form-comment {
  transform: translate(50%, -50%);
}

.anim-center {
  transform: translate(-50%, -50%) !important;
}

.anim-left-out {
  transform: translate(-150%, -50%) !important;
}

#rating-error{
  display: none;
  color: red;
}

#comment-error{
  display: none;
  color: red;
}



.review-block {
  width: 200px;
  
  float: left;
  background-color: white;

  margin: 8px; 

  opacity: 0;
  
  border-radius: 10px;
  padding: 14px;

  font-family: Arial, Helvetica, sans-serif;
  
  box-shadow: inset 0px 1px 0px #ffffff, 0px 5px 1px 0px #898989, 2px 6px 8px #767676;
}

.review-block-up {
  position: relative;
  padding: 8px;  
  background-color: #eaeaea;
  border-radius: 10px;    
  min-height: 30px;  
  font-size: 16px;
  color: #767676;
}

.review-block-bottom {
  margin-top: 5px;
  font-size: 16px;
}

.review-block-comment-tail{
  /* display: inline-block;  */
  width: 100%;
  font-size: 14px;
  color: gray;
  margin-top: 14px;
}

.review-block-time{
  /* position: absolute; */
  /* float: right;   */
  text-align: right;
}

.review-block-rate{
  /* float: left; */
  text-align: right;
}

.review-wall-container{  
  display: none;
  /* visibility: hidden; */
  width: 80%;
  margin: 30px auto;
}

.review-block-name{
  margin-left: 4px;
}

.review-block-404 {
  font-size: 80px;
  text-align: center;
}

/* Tooltip container */
.tooltip {
  position: relative;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;  
  padding: 5px;
  border-radius: 6px;
  font-size: 12px;
  text-align: left;
  
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.newadded{
  opacity: 0.5
}


#review-wall-container-root{
  padding-bottom:50vh;
}

#next-level-btn {
  margin: 0 auto 50vh auto;
  display: none;
}

#overall-score {
  text-align: center;
  font-size: 40px;
  color: #7f7f7f;
}


#newspaper-layer{  
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

#newspaper-page{  
  visibility: hidden;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#newspaper-outer-frame{


  border-color: black;
  border-width: 6px;
  border-style: solid;
  
  background-color: #ffffff;  
}

#newspaper-inner-frame{
  display: flex;
  flex-flow: column;

  margin: 15px;
  min-height: 300px;
  width: 400px;
  border-color: black;
  border-width: 5px;
  border-style: double;
  background-color: #ededed;
  padding: 10px;
}


#newspaper-title{
  font-family: Georgia, serif;
  font-size: 50px;
  text-align: center;
}

#newspaper-layer hr{
  width: 90%;
  border-color: black;
  border-width: 1px;
  margin-block-start: 2px;
  margin-block-end: 2px;
}

#newspaper-content{
  position: relative;
  flex-grow : 1;
  font-size: 16px;
  margin: 10px 20px;
}

#newspaper-thumbnail{
  float: right;
  width: 100px;
}


#newspaper-content-text{  
  margin-block-start: 2px;
}


#clear-helper{
  clear:both;
}

#test-info{
  margin-top: 20px;
  width: 750px;
  overflow-wrap: break-word   ;
  padding: 4px;
  margin-left: auto;
  margin-right: auto;  
  border-color: black;  
  border-width: thick;
  border-style: dotted;  
}


#top-bar{  
  top: -54px;    
}

#bottom-bar{
  top: 231px;
}

.emotion-bar{
  z-index: -10;  
  height: 60px;  
  position: absolute;
  width: max-content;  
}

.bar-left-icon{  
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  width: 66px;
  height: 100%;
  background-color: #ffffff;

  border: 6px solid black;

  vertical-align: bottom;
  font-size: 20px;
}


.bar-right-progress{
  box-sizing: border-box;
  margin-left: -6px;
  display: inline-block;
  width: 240px;
  height: 70%;
  background-color: #ffffff;
  border: 6px solid black;
  font-size: 20px;
}

.vertical-align-top{
  vertical-align: top;
}


.emoji{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
  font-size: 30px;
}

.progress-frame{
  margin:5px;
  
  height: -webkit-fill-available;
}

.progress-core{
  width: 0%;
  height: -webkit-fill-available;
  background-color: #ffc83d;
}


#newspaper-result{
  z-index: -10;
  position: absolute;
  width: 80px;
  height: 60px;
  box-sizing: border-box;
  left: 20px;
  top: -54px;
  border: 6px solid black;

  background-color: white;
}

#newspaper-result-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
  font-size: 40px;
}